@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AgrandirRegular';
    src: url('./fonts/Agrandir.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
.gradient-text {
  background-image: linear-gradient(45deg, #9f8ced 0%,#fa7c0b 51%,#9de8ee 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
